<html>
  <head>
  	<style>
  	  <% if message.include?("Too high!") || message.include?("Too low!") %>
	  		body {
	  			background: rgb(255, 100, 100);
	  		}
	    <% elsif message.include?("Way") %>
	      body {
	      	background: red;
	      }
	    <% else %>
	      body {
	      	background: green;
	      }
  		<% end %>
  	</style>
  </head>
  <body>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!">
    </form>

  	<%= message %><br>
  	<%= other_message %>

  </body>
</html>